{% extends 'base.html' %}
{% block title %}
Nuevo Registro
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Formulario Auditoría 5S</h1>
    <form method="POST" enctype="multipart/form-data">
        {% for seccion, preguntas in secciones.items() %}
        <div class="seccion">
            <h2>{{ seccion }}</h2>
            {% for pregunta in preguntas %}
            <div class="pregunta">
                <label>{{ pregunta }}</label>
                <select name="{{ seccion }}_{{ loop.index0 }}">
                    {% for i in range(5) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <input type="file" name="{{ seccion }}_{{ loop.index0 }}_img">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}